/* ====================== homepage ====================== */
#restaurants-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

#restaurants-list li{
    display:flex;
    flex-direction:column;
}


/* ====================== restaurant details ====================== */
.inside {
    display: flex;
    flex-direction: row;
}

#reviews-list li p:nth-child(1) {
    width: 50%;
    font-size: 1.2em;
    display: inline-block;
    line-height: 1;
}

#reviews-list li p:nth-child(2) {
    width: 50%;
    display: inline-block;
    font-size: 0.9em;
    text-align: right;
    line-height: 1;
}

#reviews-list li p:nth-child(3) {
    color: darkred;
    text-align: right;
}

/* ====================== Media Query ====================== */
@media (min-width: 458px) {
    .filter-options {
        text-align: left;
    }
}

@media (min-width: 640px) and (max-width: 929px) {
    #restaurants-list li {
        max-width: 42%;
    }

        #restaurants-list li h1 {
            height: 35px;
        }
}

@media (min-width: 930px) {
    #restaurants-list li {
        max-width: 30%;
    }

    #restaurants-list p {
        width: 66%;
    }

    #restaurants-list li h1 {
        height: 41px;
    }

    .inside header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .inside #map-container {
        background: blue none repeat scroll 0 0;
        height: 88%;
        position: fixed;
        right: 0;
        top: 80px;
        width: 50%;
    }

    #breadcrumb {
        width: calc(50% - 80px);
    }

    #restaurant-img {
        width: 90%;
    }

    #restaurant-container {
        width: 45%;
        padding: 140px 40px 30px;
    }

    #reviews-container {
        width: 45%;
        padding: 40px 30px;
    }

    #restaurant-cuisine {
        width: 90%;
    }

    #reviews-list li {
        width: 85%;
    }

    .inside #footer {
        bottom: 0;
        position: absolute;
        width: 45%;
    }
}